@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<bodd>
            <hgroup>
                <h1 class="alert-danger">Oop,</h1>
                <h2 class="alert-warning">If you end up here, it is my fault </h2>
                <img src=" ~/Content/its_all_my_fault.jpg" style="width:30%; height:50%; margin-left: auto; margin-right: auto" alt="error" />
            </hgroup>
  
</bodd>
</html>